/* ---------- 폰트 등록 ---------- */

@font-face {
  font-family: "surround";
  src: url("/fonts/Cafe24Ssurround-v2.0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Pretendard", sans-serif;
  color: #42413f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Pretendard", sans-serif; /* 기본 글씨체 Pretendard */
  /* background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #edf4ff 20%,
      #94aed9 70%,
      #77a1eb 100%
    ),
    radial-gradient(
      circle at 70% 20%,
      rgba(236, 72, 153, 0.25),
      transparent 60%
    ),
    radial-gradient(circle at 30% 80%, rgba(139, 92, 246, 0.2), transparent 65%);
  background-blend-mode: screen; */
  background: radial-gradient(
      circle at 30% 20%,
      rgba(255, 182, 193, 0.35),
      /* 연핑크 */ transparent 60%
    ),
    radial-gradient(
      circle at 70% 80%,
      rgba(173, 216, 230, 0.35),
      /* 연하늘 */ transparent 65%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(186, 230, 253, 0.3),
      /* 연파랑 */ transparent 70%
    ),
    linear-gradient(
      to bottom,
      #ffffff 0%,
      #f3f6ff 40%,
      #e0ecff 80%,
      #d6e4ff 100%
    );
  background-blend-mode: screen;
}

/* ---------- 텍스트 스타일 ---------- */

/* 일반 본문 설명문 → Pretendard */
body,
p,
span,
li,
.description {
  font-family: "Pretendard", sans-serif;
}

h1,
h2,
h3,
.question,
.highlight,
.rectangle-title {
  font-family: "surround", "Pretendard", sans-serif;
  font-weight: 700;
}
