.house-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.canvas-header-row {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  /* z-index: 100;*/
}

.progress-indicator.static-overlay {
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.dot.active {
  background: #3b5bdb;
}

.btn-toolbar.active {
  background-color: #e0f4ff; /* 원하는 배경색 */
  border: 2px solid #2f80ed; /* 테두리 강조 */
  border-radius: 8px; /* 둥근 모서리 있으면 더 예쁨 */
}

.rectangle-header {
  background: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 500px;
}

.rectangle-title {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin: 0;
}

.toolbar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toolbar .active {
  border: 2px solid #3e70c7;
}

.canvas-wrapper {
  flex-shrink: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column; /*세로 배치*/
  align-items: flex-start;
  gap: 12px;
  padding: 0 16px;
  box-sizing: border-box;
  justify-content: center;

  aspect-ratio: 1123 / 794;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.canvas-footer {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
}

.footer-buttons-row {
  display: flex;
  gap: 12px;
  align-items: center;
}
